In [1]:
import os
import pandas as pd

path = "./data/"
filename_read = os.path.join(path, "emissions.csv")
df = pd.read_csv(filename_read, na_values=['NA', '?'])

print(df[:5])

                  Country Name        1960        1961        1962  \
0                        Aruba  204.631696  208.837879  226.081890
1  Africa Eastern and Southern    0.906060    0.922474    0.930816
2                  Afghanistan    0.046057    0.053589    0.073721
3   Africa Western and Central    0.090880    0.095283    0.096612
4                       Angola    0.100835    0.082204    0.210533

         1963        1964        1965        1966        1967        1968  \
0  214.785217  207.626699  185.213644  172.158729  210.819017  194.917536
1    0.940570    0.996033    1.047280    1.033908    1.052204    1.079727
2    0.074161    0.086174    0.101285    0.107399    0.123409    0.115142
3    0.112376    0.133258    0.184803    0.193676    0.189305    0.143989
4    0.202739    0.213562    0.205891    0.268937    0.172096    0.289702

   ...      2009      2010      2011      2012      2013      2014      2015  \
0  ...       NaN       NaN       NaN       NaN       NaN       NaN       NaN
1  ...  1.021954  1.048876  1.005338  1.021646  1.031833  1.041145  0.987393
2  ...  0.211306  0.297065  0.407074  0.335351  0.263716  0.234037  0.232176
3  ...  0.426770  0.472819  0.497023  0.490867  0.504655  0.507671  0.480743
4  ...  1.205902  1.221515  1.216317  1.204799  1.261542  1.285365  1.260921

       2016      2017      2018
0       NaN       NaN       NaN
1  0.971016  0.959978  0.933541
2  0.208857  0.203328  0.200151
3  0.472959  0.476438  0.515544
4  1.227703  1.034317  0.887380

[5 rows x 60 columns]

In [4]:
temp_df = df.dropna()
print(temp_df)

                    Country Name      1960      1961      1962      1963  \
1    Africa Eastern and Southern  0.906060  0.922474  0.930816  0.940570
2                    Afghanistan  0.046057  0.053589  0.073721  0.074161
3     Africa Western and Central  0.090880  0.095283  0.096612  0.112376
4                         Angola  0.100835  0.082204  0.210533  0.202739
5                        Albania  1.258195  1.374186  1.439956  1.181681
..                           ...       ...       ...       ...       ...
257                      Vietnam  0.181947  0.183099  0.217694  0.196997
259                        World  3.121158  3.068090  3.114839  3.221195
260                        Samoa  0.135031  0.163542  0.158377  0.184037
262                  Yemen, Rep.  0.011038  0.013599  0.012729  0.014518
263                 South Africa  5.727223  5.832621  5.887168  5.961337

         1964      1965      1966      1967      1968  ...      2009  \
1    0.996033  1.047280  1.033908  1.052204  1.079727  ...  1.021954
2    0.086174  0.101285  0.107399  0.123409  0.115142  ...  0.211306
3    0.133258  0.184803  0.193676  0.189305  0.143989  ...  0.426770
4    0.213562  0.205891  0.268937  0.172096  0.289702  ...  1.205902
5    1.111742  1.166099  1.333055  1.363746  1.519551  ...  1.475652
..        ...       ...       ...       ...       ...  ...       ...
257  0.209870  0.217934  0.225434  0.195461  0.203764  ...  1.512419
259  3.324046  3.432395  3.534191  3.585995  3.704543  ...  4.277131
260  0.208106  0.230892  0.196438  0.191301  0.213378  ...  1.029515
262  0.017550  0.017926  0.017023  0.017380  0.021384  ...  1.139166
263  6.332343  6.616545  6.453858  6.560824  6.593620  ...  8.004039

         2010      2011      2012      2013      2014      2015      2016  \
1    1.048876  1.005338  1.021646  1.031833  1.041145  0.987393  0.971016
2    0.297065  0.407074  0.335351  0.263716  0.234037  0.232176  0.208857
3    0.472819  0.497023  0.490867  0.504655  0.507671  0.480743  0.472959
4    1.221515  1.216317  1.204799  1.261542  1.285365  1.260921  1.227703
5    1.572251  1.734823  1.579092  1.654524  1.806789  1.759987  1.714126
..        ...       ...       ...       ...       ...       ...       ...
257  1.698806  1.676805  1.639943  1.692844  1.837890  2.257300  2.390741
259  4.483148  4.570123  4.578768  4.610229  4.560774  4.488770  4.436759
260  1.021813  1.066843  1.057703  1.048702  1.092498  1.240246  1.542099
262  1.036068  0.869051  0.804146  1.047834  1.034330  0.536269  0.400468
263  8.300179  7.867124  8.076633  8.137333  8.213158  7.671202  7.564451

         2017      2018
1    0.959978  0.933541
2    0.203328  0.200151
3    0.476438  0.515544
4    1.034317  0.887380
5    1.948872  1.939732
..        ...       ...
257  2.348081  2.698806
259  4.441309  4.483524
260  1.535642  1.631588
262  0.361418  0.326682
263  7.632729  7.496645

[191 rows x 60 columns]