## Reading in Dataset

Firstly, we import os and pandas so that we can read the CSV file and create a dataframe.

In [1]:
import os
import pandas as pd

# Read data from CSV into a pandas dataframe
path = "../data/"
filename_read = os.path.join(path, "emissions.csv")
df = pd.read_csv(filename_read, na_values=['NA', '?'])

# Output first 5 rows of the dataframe
print(df[:5])

                  Country Name        1960        1961        1962  \
0                        Aruba  204.631696  208.837879  226.081890
1  Africa Eastern and Southern    0.906060    0.922474    0.930816
2                  Afghanistan    0.046057    0.053589    0.073721
3   Africa Western and Central    0.090880    0.095283    0.096612
4                       Angola    0.100835    0.082204    0.210533

         1963        1964        1965        1966        1967        1968  \
0  214.785217  207.626699  185.213644  172.158729  210.819017  194.917536
1    0.940570    0.996033    1.047280    1.033908    1.052204    1.079727
2    0.074161    0.086174    0.101285    0.107399    0.123409    0.115142
3    0.112376    0.133258    0.184803    0.193676    0.189305    0.143989
4    0.202739    0.213562    0.205891    0.268937    0.172096    0.289702

   ...      2009      2010      2011      2012      2013      2014      2015  \
0  ...       NaN       NaN       NaN       NaN       NaN       NaN       NaN
1  ...  1.021954  1.048876  1.005338  1.021646  1.031833  1.041145  0.987393
2  ...  0.211306  0.297065  0.407074  0.335351  0.263716  0.234037  0.232176
3  ...  0.426770  0.472819  0.497023  0.490867  0.504655  0.507671  0.480743
4  ...  1.205902  1.221515  1.216317  1.204799  1.261542  1.285365  1.260921

       2016      2017      2018
0       NaN       NaN       NaN
1  0.971016  0.959978  0.933541
2  0.208857  0.203328  0.200151
3  0.472959  0.476438  0.515544
4  1.227703  1.034317  0.887380

[5 rows x 60 columns]

## Cleaning the data
The next step is to clean the data, we can see that after reading in the CSV, there are a lot of missing data. We have chosen to simply drop any rows that have any NA values. This has left us with data for 191 countries to work with. We can also see towards the end that the max value from the mean values of each country lies within reason and that there aren't any outliers in our data.

In [2]:
# Drop rows in the dataframe that contain null values
df = df.dropna()
print(df)

                    Country Name      1960      1961      1962      1963  \
1    Africa Eastern and Southern  0.906060  0.922474  0.930816  0.940570
2                    Afghanistan  0.046057  0.053589  0.073721  0.074161
3     Africa Western and Central  0.090880  0.095283  0.096612  0.112376
4                         Angola  0.100835  0.082204  0.210533  0.202739
5                        Albania  1.258195  1.374186  1.439956  1.181681
..                           ...       ...       ...       ...       ...
257                      Vietnam  0.181947  0.183099  0.217694  0.196997
259                        World  3.121158  3.068090  3.114839  3.221195
260                        Samoa  0.135031  0.163542  0.158377  0.184037
262                  Yemen, Rep.  0.011038  0.013599  0.012729  0.014518
263                 South Africa  5.727223  5.832621  5.887168  5.961337

         1964      1965      1966      1967      1968  ...      2009  \
1    0.996033  1.047280  1.033908  1.052204  1.079727  ...  1.021954
2    0.086174  0.101285  0.107399  0.123409  0.115142  ...  0.211306
3    0.133258  0.184803  0.193676  0.189305  0.143989  ...  0.426770
4    0.213562  0.205891  0.268937  0.172096  0.289702  ...  1.205902
5    1.111742  1.166099  1.333055  1.363746  1.519551  ...  1.475652
..        ...       ...       ...       ...       ...  ...       ...
257  0.209870  0.217934  0.225434  0.195461  0.203764  ...  1.512419
259  3.324046  3.432395  3.534191  3.585995  3.704543  ...  4.277131
260  0.208106  0.230892  0.196438  0.191301  0.213378  ...  1.029515
262  0.017550  0.017926  0.017023  0.017380  0.021384  ...  1.139166
263  6.332343  6.616545  6.453858  6.560824  6.593620  ...  8.004039

         2010      2011      2012      2013      2014      2015      2016  \
1    1.048876  1.005338  1.021646  1.031833  1.041145  0.987393  0.971016
2    0.297065  0.407074  0.335351  0.263716  0.234037  0.232176  0.208857
3    0.472819  0.497023  0.490867  0.504655  0.507671  0.480743  0.472959
4    1.221515  1.216317  1.204799  1.261542  1.285365  1.260921  1.227703
5    1.572251  1.734823  1.579092  1.654524  1.806789  1.759987  1.714126
..        ...       ...       ...       ...       ...       ...       ...
257  1.698806  1.676805  1.639943  1.692844  1.837890  2.257300  2.390741
259  4.483148  4.570123  4.578768  4.610229  4.560774  4.488770  4.436759
260  1.021813  1.066843  1.057703  1.048702  1.092498  1.240246  1.542099
262  1.036068  0.869051  0.804146  1.047834  1.034330  0.536269  0.400468
263  8.300179  7.867124  8.076633  8.137333  8.213158  7.671202  7.564451

         2017      2018
1    0.959978  0.933541
2    0.203328  0.200151
3    0.476438  0.515544
4    1.034317  0.887380
5    1.948872  1.939732
..        ...       ...
257  2.348081  2.698806
259  4.441309  4.483524
260  1.535642  1.631588
262  0.361418  0.326682
263  7.632729  7.496645

[191 rows x 60 columns]

In [3]:
print(f"Countries with complete data throughout the dataset: {len(df.axes[0])}")

Countries with complete data throughout the dataset: 191

In [4]:
# Transpose table (swap rows with columns)
df = df.set_index('Country Name').T
df.head()

Country Name,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Arab World,United Arab Emirates,Argentina,Antigua and Barbuda,Australia,...,Upper middle income,Uruguay,United States,St. Vincent and the Grenadines,"Venezuela, RB",Vietnam,World,Samoa,"Yemen, Rep.",South Africa
1960,0.906060,0.046057,0.090880,0.100835,1.258195,0.609268,0.119037,2.383343,0.677418,8.582937,...,2.573291,1.701585,15.999779,0.135865,7.009414,0.181947,3.121158,0.135031,0.011038,5.727223
1961,0.922474,0.053589,0.095283,0.082204,1.374186,0.662618,0.109136,2.458551,0.866667,8.641569,...,2.408432,1.602728,15.681256,0.133884,6.153191,0.183099,3.068090,0.163542,0.013599,5.832621
1962,0.930816,0.073721,0.096612,0.210533,1.439956,0.727117,0.163542,2.538447,1.838457,8.835688,...,2.370116,1.540660,16.013937,0.132162,6.188716,0.217694,3.114839,0.158377,0.012729,5.887168
1963,0.940570,0.074161,0.112376,0.202739,1.181681,0.853116,0.175833,2.330685,1.487469,9.226440,...,2.435563,1.639287,16.482762,0.174204,6.208593,0.196997,3.221195,0.184037,0.014518,5.961337
1964,0.996033,0.086174,0.133258,0.213562,1.111742,0.972381,0.132815,2.553442,1.590448,9.759073,...,2.523331,1.710104,16.968119,0.215409,6.041541,0.209870,3.324046,0.208106,0.017550,6.332343

In [5]:
mean_vals = df.describe().loc['mean'].values
print(f"{mean_vals}\n\nMax value from mean values: {mean_vals.max()}")

[ 1.08940549  0.14938204  0.44069151  0.68754025  1.66043288  2.92316364
 30.41657644  3.54462142  5.38209619 14.74163966  7.30147811 11.06564421
  0.22223818  0.07693901  0.22775958  7.01099706 19.69587727 13.01814302
  1.53015729  0.95318804  1.48616998  3.65982706 19.65388816  0.06512205
 15.66106749  8.0915212   5.85743582  2.82756422  2.81821594  0.41111735
  0.31221343  0.08726443  0.72282786  1.48099365  0.15622533  0.4699592
  1.1064521   4.95424628  2.49978089  5.16749411  0.68102688  1.26622291
 10.04102072  1.42046764  2.38212135  2.30775894  1.38993548  3.02796468
 11.00220976  9.41038116  1.55714578  1.45443895  5.2060304   0.05915819
  7.84481343  0.89520284  9.61967992  1.11966072  6.72827315  4.36506694
  9.53232306  0.30104306  0.19024711  0.18733115  0.14602582  2.96366733
  5.90056986  1.46541238  0.62322171  2.04485343 11.03999274  0.65977374
  0.19368719  0.15145459  6.11987044  2.95400638  2.44904198  0.46815651
  0.84609324  0.97370212  0.27221359  0.75507461  8.07117166  4.58251404
  3.28542859  7.28464018  6.8467272   6.24915502  2.9814129   2.30786858
  7.91142866  0.27867417  0.16295112  2.79183185  6.11991201  1.97628261
  0.30465939  3.0049406   0.41980715  7.38997998  1.47010662  2.23375965
  0.1838651   0.52901784  0.4261484   1.0350209   2.37366278  4.14807877
 27.2378197   0.98528468  0.1107927   3.66633452  3.32508659  2.52652779
  0.08798665  4.2933444   0.18275571  2.50629706  3.98326303  0.17676073
  0.48110368  1.43050217  3.66624387 18.55474147  0.07251541  0.61660087
  0.64110008 10.03538905  7.54554074  0.09031898  6.50559401  9.88948886
  4.74143131  0.57208759  1.7248696   1.22221868  0.77171685 10.830958
  0.4882316   9.22357354  0.43424234  4.38568351  3.65198961  0.54658564
  0.98719396 11.0909239  45.65840141  5.68492349 15.97643154  0.06117946
  0.66180302 11.63939667  0.30611476  0.41933212  8.85154659  0.46770393
  0.14080985  0.68527922  0.07452314  0.82217955  0.82244637  4.65235921
  0.38434325  4.07095506  7.09234343  2.04723968  0.05209551  2.28058388
 10.71309808  0.21895513  1.79889235  2.18221785  2.50667663  0.74060896
  0.66180302  0.82244637 11.85635936  1.6230233   2.57432494  0.1259236
  0.08037799  4.04367659  1.76172785 18.859348    1.2663299   5.68731237
  0.71609932  4.10928375  0.69301372  0.44212991  7.49746734]

Max value from mean values: 45.65840140769572